<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
	</extensions>

	<targets>
		<!-- these are the defaults (except 'topic' and 'appid'): -->
		<target name="RabbitMQTarget"
				xsi:type="RabbitMQ"
				appid="NLog.RabbitMQ.DemoApp"
				correlationId=""
				messageType=""
				topic="DemoApp.Logging.${level}"
				username="guest"
				password="guest"
				hostname="localhost"
				exchange="app-logging"
				exchangeType="topic"
				clientProvidedName=""
				port="5672"
				vhost="/"
				maxBuffer="10240"
				heartBeatSeconds="3"
				Timeout="3000"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				messageSource="nlog://${machinename}/${logger}"
				UseJSON="true"
				UseLayoutAsMessage="false"
				UseSsl="false"
				SslCertPath=""
				SslCertPassphrase=""
				Compression="None"
				DeliveryMode="NonPersistent">
			<field key="threadid" layout="${threadid}" />
			<field key="machinename" layout="${machinename}" />
		</target>
		<target xsi:type="File" name="fileTarget" fileName="D:\AKKI_DEV\RND\log.log" layout="${longdate} ${uppercase:${level}} ${message}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="RabbitMQTarget"/>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>

</nlog>